html {
  height: 100%;
}
body {
  background-color: #6653cc !important;
  height: 100% !important;
}
h1 {
  display: inline-block;
}
.principal {
  width: 60%;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  color: black;
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px white, -3px -3px white;
}
input {
  margin: 1em 0 !important;
}

input:focus {
  background-color: rgb(236, 236, 236);
  height: 2.4em;
  width: 17em;
}

@media (max-width: 550px) {
  .principal {
    float: left;
    width: 80%;
    height: 100%;
    text-align: center;
    /* margin: 10% auto; */
    padding: 2.5em 1em;
    margin: 0;
    color: black;
    border: 2px solid black;
    background-color: white;
    box-shadow: 10px 10px white;
  }
}
